<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.pingfang.iot.core.mapper.AlertMapper">

    <resultMap id="AlertResult" type="net.pingfang.iot.core.domain.Alert">
        <result column="alert_id" property="alertId" />
        <result column="alert_name" property="alertName" />
        <result column="alert_level" property="alertLevel" />
        <result column="status" property="status" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="triggers" property="triggers" />
        <result column="actions" property="actions" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="selectAlertVo">
        select alert_id,
               alert_name,
               alert_level,
               status,
               product_id,
               product_name,
               triggers,
               actions,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from iot_alert
    </sql>

    <select id="selectAlertList" parameterType="net.pingfang.iot.core.domain.Alert" resultMap="AlertResult">
        <include refid="selectAlertVo" />
        <where>
            <if test="alertName != null  and alertName != ''">and alert_name like concat('%', #{alertName}, '%')</if>
            <if test="alertLevel != null ">and alert_level = #{alertLevel}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="productId != null ">and product_id = #{productId}</if>
            <if test="productName != null  and productName != ''">and product_name like concat('%', #{productName},
                '%')
            </if>
        </where>
    </select>

    <select id="selectAlertByAlertId" parameterType="Long" resultMap="AlertResult">
        <include refid="selectAlertVo" />
        where alert_id = #{alertId}
    </select>

    <insert id="insertAlert" keyProperty="alertId" parameterType="net.pingfang.iot.core.domain.Alert"
            useGeneratedKeys="true">
        insert into iot_alert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alertName != null and alertName != ''">alert_name,</if>
            <if test="alertLevel != null">alert_level,</if>
            <if test="status != null">status,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="triggers != null and triggers != ''">triggers,</if>
            <if test="actions != null and actions != ''">actions,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alertName != null and alertName != ''">#{alertName},</if>
            <if test="alertLevel != null">#{alertLevel},</if>
            <if test="status != null">#{status},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="triggers != null and triggers != ''">#{triggers},</if>
            <if test="actions != null and actions != ''">#{actions},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateAlert" parameterType="net.pingfang.iot.core.domain.Alert">
        update iot_alert
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertName != null and alertName != ''">alert_name = #{alertName},</if>
            <if test="alertLevel != null">alert_level = #{alertLevel},</if>
            <if test="status != null">status = #{status},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="triggers != null and triggers != ''">triggers = #{triggers},</if>
            <if test="actions != null and actions != ''">actions = #{actions},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where alert_id = #{alertId}
    </update>

    <delete id="deleteAlertByAlertId" parameterType="Long">
        delete
        from iot_alert
        where alert_id = #{alertId}
    </delete>

    <delete id="deleteAlertByAlertIds" parameterType="String">
        delete from iot_alert where alert_id in
        <foreach close=")" collection="array" item="alertId" open="(" separator=",">
            #{alertId}
        </foreach>
    </delete>
</mapper>
